/* HEADER */
header .desktop-nav{
  display: none;
}


/* MAIN */
  /* FEATURES SECTION */
  main .features .row{
    flex-wrap: wrap;
    padding: 20px 0;
  }

  main .features .column{
    width: 100%;
  }

  main .features .card{
    padding: 20px;
  }

  main .features .main-card,
  main .features .main-card .card-txt{
    flex-direction: column;
  }
  /* /FEATURES SECTION */

  /* PLANNING SECTION */
  main .planning .card{
    flex-direction: column;
    padding: 20px 0;
  }

  main .planning .card-img,
  main .planning .card-txt{
    width: 100%;
  }
  /* /PLANNING SECTION */

  /* TESTIMONIALS SECTION */
  /* /TESTIMONIALS SECTION */
