/* HEADER */
  header{
    background-color: #0084FD;
  }

  header .container{
    height: 75px;
  }

  header .desktop-nav{
    display: none;
  }

  header a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
  }

  header a:hover{
    text-transform: uppercase;
  }

  header .btn{
    background-color: white;
    color: black;
    padding: 5px 10px;
  }

  header .btn:hover{
    background-color: rgba(255, 255, 255, .9);
    text-transform: none;
  }
/* /HEADER */


/* MAIN */
  main .features .row,
  main .benefit .row,
  main .about-us .row{
    flex-wrap: wrap;
    padding: 20px 0;
  }

  main .features .column,
  main .benefit .column,
  main .about-us .column{
    width: 100%;
  }

  /* FEATURES SECTION */
    main .features .main-card,
    main .features .main-card .card-txt{
      flex-direction: column;
      text-align: left;
    }

    main .features .card{
      background-color: #B5DDFF;
      border-radius: 20px;
      color: #0084FD;
      padding: 30px;
      height: 100%;
    }

    main .features p{
      color: #5A6E7F;
    }

    main .features .btn{
      background-color: rgb(0, 132, 253);
      color: white;
      padding: 5px 40px;
    }

    main .features .btn:hover{
      background-color: rgba(0, 132, 253, .9);
    }

    main .features .card-img{
      position: relative;
      right: 20px;
      top: 30px;
      max-width: 200px;
    }

    main .features .card-icon{
      font-size: 4rem;
    }
  /* /FEATURES SECTION */

  /* PLANNING SECTION */
    main .planning .card{
      flex-direction: column;
      padding: 20px 0;
    }

    main .planning .card-img,
    main .planning .card-txt{
      width: 100%;
    }
  /* /PLANNING SECTION */

  /* TESTIMONIALS SECTION */
    main .testimonial .title{
      margin-top: 30px;
    }
  /* /TESTIMONIALS SECTION */

  /* BENEFIT SECTION */
    main .benefit .card{
      padding: 30px;
    }

    main .benefit h2{
      margin: 30px 0;
    }
  /* /BENEFIT SECTION */
/* /MAIN */
