@media screen and (min-width:768px) {
  /* MAIN */
    /* FEATURES SECTION */
    main .features .column:first-child{
      width: 65%;
    }

    main .features .column{
      width: 30%;
    }
    /* /FEATURES SECTION */

    /* TESTIMONIALS SECTION */
    main .testimonial .card{
      flex-direction: row;
    }
    
    /* /TESTIMONIALS SECTION */
}